{% extends 'base.html' %}

{% block heading %}About Us{% endblock %}

{% block content_class %}about{% endblock %}

{% block content %}
    <section>
        <h2>About Us</h2>
        <p>
            Prolifiko is made by Write Track, a startup making digital productivity tools for
            writers of all types. It was founded by Bec Evans and Chris Smith who have spent many
            years helping people become more productive writers.
        </p>
        <p>
            Bec is an expert in product innovation especially habit-forming technology. She has
            worked in publishing for many years and was formerly the director of a national writing
            school. In her spare time she writes short stories and non-fiction. Chris runs a content
            marketing and digital media consultancy and he's spent a career writing and coaching
            other people to write. He's also an award-winning scriptwriter of short comedy films.
        </p>
        <p>
            Together they have written for a whole host of publications like The Guardian, Life
            Hacker, Startup Grind, The Next Web, Mslexia and The Bookseller – and many more.
        </p>
    </section>
{% endblock %}
