{%  extends 'base.html' %}

{% block heading %}About{% endblock %}

{% block content %}
<h2>About the challenge</h2>
<p>This 5 day challenge has been designed around proven theories of behaviour change and the science of habits.</p>
<p>Its aim is to help writers progress a piece of their own writing over 5 days and develop a longer term writing habit.</p>
<p>We don't tell you what to write - that's up to you - but we do promise to give you the support and motivation you need to keep going.

<h2>How it works</h2>
<p>
    <ol style="text-align: justify">
        <li>First, we ask you for your name and email - because we need to keep in contact with you along the way.</li>
        <li>Then, you set a writing goal and tell us the first step you'll take towards meeting that goal.</li>
        <li>We give you up to 24 hours to complete each step and once you've completed it you 'track' and set the next step. There are 5 steps in total.</li>
        <li>Each time you track we email you a new 'secret' of writing productivity - tips backed by science.</li>
        <li>Because we're really nice and we know that sometimes life gets in the way, we give you two chances to miss deadline.</li>
        <li>But because we're not <em>that</em> nice, you lose a life every time you miss a deadline. Miss two deadlines and you're off the challenge - sorry :-)</li>
    </ol>
</p>

<h2>About us</h2>
<p>Write Track is a startup making digital productivity tools for writers of all types. It was founded by Bec Evans and Chris Smith who have spent many years helping people become more productive writers.</p>
<p>Bec is an expert in habit-forming technology and product innovation and the former director a national writing school. In her spare time she writes short stories and non-fiction.Chris runs a content marketing and digital media consultancy and he's spent a career writing and coaching other people to write. He's also an award-winning scriptwriter of short comedy films.</p>
<p>Together they have   written for a whole host of publications like <em>The Guardian</em>, <em>Life Hacker</em>, <em>Startup Grind, The Next Web, Mslexia</em> and <em>The Bookseller</em> - and many more.</p>
{% endblock %}