{% extends 'base.html' %}

{% block heading %}About{% endblock %}

{% block content_class %}about{% endblock %}

{% block content %}

    <section>
        <h2>About Prolifiko</h2>
        <p>
            Prolifiko is a digital productivity coach designed to help you kickstart and continue
            your writing projects.
        </p>
        <p>
            Our system is based around proven theories of behaviour change
            and the science of habits –which means it works.
        </p>
        <p>
            If you let it! We don͛t tell you what to write – that's up to you – but we do promise to
            give you the support and motivation you need to start and keep going.
        </p>
    </section>

    <section>
        <h2>How it works</h2>
        <p>
            You start by taking our 5-day kickstart where we challenge you to complete a piece of
            your own writing over a week.
        </p>
        <p>
            This gets your writing off to a flying start and familiarizes you with our unique goal
            and step-setting process.
        </p>
        <p>
            Then, once you͛re in the swing of things, you get to choose your own writing deadlines –
            which means that you can tackle a longer writing project and build up your practice.
        </p>
        <p>
            We͛ll ask you for your name and email address because we need to keep in contact
            with you and provide support and tips as you get started.
        </p>
    </section>

    <section>
        <h2>How Prolifiko kickstart works:</h2>
        <ol>
            <li>
                First, you set a writing goal and tell us the first step you'll take towards meeting
                that goal.
            </li>
            <li>
                We give you until midnight tomorrow to complete each step and once you've completed
                it you 'track' and set the next step. There are 5 steps in total.
            </li>
            <li>
                Each time you track we email you a new 'secret' of writing productivity - tips
                backed by science.
            </li>
            <li>
                Because we're really nice and we know that sometimes life gets in the way, we give
                you two chances to miss deadline.
            </li>
            <li>
                But because we're not that nice, you lose a life every time you miss a deadline.
                Miss two deadlines and you're off the challenge - sorry :-)
            </li>
        </ol>
    </section>

    <section>
        <h2>How Prolifiko continue works:</h2>
        <ol>
            <li>
                Like before, you set your own writing goal and you work towards it in small,
                achievable steps.
            </li>
            <li>
                But this time, you set your own writing deadlines – we give you some options or you
                get to pick your own date – and you receive nudges along the way.
            </li>
            <li>
                You͛ll also receive a weekly summary of your writing progress together with a
                sprinkling of inspiration to keep you going!
            </li>
        </ol>
        <p>
            Whatever you want to write, however you want to write it, we͛re here to give you the
            support and motivation you need to reach and celebrate your writing achievements.

        </p>
    </section>

    <section>
        <h2>About Us</h2>
        <p>
            Prolifiko is made by Write Track, a startup making digital productivity tools for
            writers of all types. It was founded by Bec Evans and Chris Smith who have spent many
            years helping people become more productive writers.
        </p>
        <p>
            Bec is an expert in product innovation especially habit-forming technology. She has
            worked in publishing for many years and was formerly the director of a national writing
            school. In her spare time she writes short stories and non-fiction. Chris runs a content
            marketing and digital media consultancy and he's spent a career writing and coaching
            other people to write. He's also an award-winning scriptwriter of short comedy films.
        </p>
        <p>
            Together they have written for a whole host of publications like The Guardian, Life
            Hacker, Startup Grind, The Next Web, Mslexia and The Bookseller – and many more.
        </p>
    </section>
{% endblock %}
