{% extends 'base.html' %}

{% block heading %}Help{% endblock %}

{% block content_class %}about{% endblock %}

{% block content %}
    <section>
        <p>If you&rsquo;re stuck or have any questions, some of the resources below might help.</p>
        <ul>
            <li>
                Welcome to the 5-day kickstart – <a
                href="https://www.youtube.com/watch?v=FqYtu4jLKT0">
                video</a>
            </li>
            <li>
                Welcome to our continue product – <a
                href="https://www.youtube.com/watch?v=NOpQTsyde8o">
                video</a>
            </li>
            <li>
                Seven rules of goal setting –
                <a href="http://blog.write-track.co.uk/7rulesgoalsetting/">article</a>
            </li>
            <li>
                How to get off the starting blocks and write –
                <a href="http://blog.write-track.co.uk/5waysstartingblocks/">article</a>
            </li>
            <li>
                Quick tips on goal setting –
                <a href="http://blog.write-track.co.uk/how-to-set-a-writing-goal/">article</a>
                or <a href="https://www.youtube.com/watch?v=2Ngdj5_j_5E">video</a>
            </li>
            <li>
                Quick tips on step setting –
                <a href="http://blog.write-track.co.uk/how-to-set-your-first-step/">article</a>
                or <a href="https://www.youtube.com/watch?v=MMlU6NEnxpg">video</a>
            </li>
        </ul>
        <p>
            But do feel free to get in touch with Bec and Chris directly using the links below. We͛d
            love to hear from you!
        </p>
        <p>Email: <a href="mailto:beprolifiko@gmail.com">beprolifiko@gmail.com</a></p>
        <p>Twitter: <a href="https://twitter.com/write_track">@write_track</a></p>
        <p>Facebook: <a href="www.facebook.com/writetrackapp">Write-Track</a></p>
    </section>
{% endblock %}
