{%  extends 'base.html' %}

{% block heading %}Help{% endblock %}

{% block content %}
<section>
    <p>If you’re struggling to set a goal and first step, here are three useful resources that could really help you out.</p>
    <p>Check out:</p>
    <p>Setting a writing goal?<br/><a href="http://blog.write-track.co.uk/how-to-set-a-writing-goal/">Ask yourself these 6 questions first.</a></p>
    <p>Setting your first step?<br/><a href="http://blog.write-track.co.uk/how-to-set-your-first-step/">These 4 questions will help.</a></p>
    <p>Struggling to get started?<br/><a href="http://blog.write-track.co.uk/5waysstartingblocks/">5 ways to get off the starting blocks and write.</a></p>
</section>
<section>
    <p>If you have any further questions about Write Track, please contacts us at:</p>
    <p>Email: bec@write-track.co.uk<br/>Twitter: @write_track<br/>Facebook: www.facebook.com/WriteTrackApp</p>
</section>
<section>
    <p>We’d love to know what you thought of this challenge, please complete <a href="https://chrissmith3.typeform.com/to/fgJrEY">this short survey</a>.</p>
</section>
{% endblock %}