{% extends 'base.html' %}

{% block heading %}Privacy{% endblock %}

{% block content_class %}about{% endblock %}

{% block content %}
    <section>
        <p>
            Prolifiko collects no more data about you than most other websites. We use the
            information we have collected about you for the purpose you supplied.
        </p>
        <p>
            Under the Data Protection Act, you may at any time request a copy of the information we
            hold on you by writing to us (see <strong>contact details</strong> below).
        </p>
        <p>
            This privacy policy will be reviewed, and may be revised, from time to time. It was last
            updated on 5 November 2016. You may wish to revisit it regularly.
        </p>
    </section>
    <section>
        <h2>Email</h2>
        <p>
            To access the website you need to register with a valid email account. We will not share
            your contact information with any third party without your consent.
        </p>
    </section>
    <section>
        <h2>Internet Protocol (IP) address and other information</h2>
        <p>
            As you use the site we collect certain anonymous information not linked to your email.
            For example, might collect an IP address, domain names, browser type and access times.
        </p>
        <p>
            These will be used to help diagnose problems with our server, and to administer the site
            and its services.
        </p>
        <p>
            Cookies and may be used to gather information regarding the date and time of your visit.
            We use cookies to enhance your experience and enable you to use certain features.</p>
    </section>
    <section>
        <h2>Security</h2>
        <p>
            Prolifiko has security measures in place to protect against the loss, misuse and
            alteration of the information under our control. However, we make no guarantee that the
            information that you provide will be secure.</p>
    </section>
    <section>
        <h2>Contacting Write Track</h2>
        <p>
            Prolifiko is owned by Write Track Ltd, company number 9141465 registered in England and
            Wales, at 11 Royd Villas, Hangingroyd Lane, Hebden Bridge, HX7 7BX.
        </p>
        <p>
            If you have any questions about this Privacy Policy, the practices, services or
            information provided, you can write to us at the address above or email
            bec@write-track.co.uk
        </p>
    </section>
{% endblock %}
