{%  extends 'base.html' %}

{% block heading %}Terms & Conditions{% endblock %}

{% block content %}
<p>Last updated: 4 July 2016</p>
<p>The Write Track 5-day writing challenge is available to anyone who agrees to follow and be legally bound by our terms and conditions. These are set out below.</p>
<h2>Description of the service</h2>
<p>The Write Track 5-day challenge helps writers kickstart their writing habit by providing productivity tools to set and monitor writing goals.</p>
<p>As such Write Track is purely a source of information for those wanting to write. In using this service you agree to be bound by these terms and conditions.</p>
<h2>Registering and creating your profile</h2>
    <p>All you need to register is a valid email account.</p>
    <p>We process personal data in accordance with our privacy policy. In agreeing to be bound by these terms and conditions you consent to our doing so. <strong>You should read the policy carefully</strong>, especially if you have any concerns about your privacy. Write Track uses cookies to store information on your computer, tablet or smartphone. The only function of these cookies is to make using the site more convenient for you.</p>
<h2>Our responsibility</h2>
    <p>Sometimes gremlins might get into the system and Write Track might go down. Other times, we might need to take the service down for essential maintenance. Either way, we make no promises to provide any level of service to users.</p>
    <p>Write Track won&rsquo;t be liable for any direct, special, indirect, incidental or consequential damages arising out of or in connection with your use of the app.</p>
<h2>How you use this app</h2>
    <p>You may not use any of the material on the site for commercial use or for your personal gain.</p>
<h2>Disclaimer</h2>
    <p>We do not guarantee that all material on this site is accurate and up to date.</p>
    <p>All material contained on this website is provided without any warranty of any kind. You use the material on this website at your own discretion.</p>
<h2>Limitation of Liability</h2>
<p>By accessing this site, you agree to these terms of usage and limitations of liability.</p>
    <p>To the extent that any applicable law permits us, we exclude any liability for any loss or damage that you suffer as a result of using the Write Track app.</p>
    <p>To the extent that any applicable law permits us, we exclude or limit liability for death or personal injury caused by negligence.</p>
<h2>General conditions</h2>
<p>These terms and conditions are governed by English law. Any dispute arising in connection with these terms and conditions shall be subject to the exclusive jurisdiction of the Courts of England and Wales.</p>
<p>Write Track is a new site and it will evolve according to its users&rsquo; needs and interests. Write Track reserves the right to oversee this evolution and to revise the terms and conditions in the light of developments.</p>
<p>If we update these terms and conditions we will announce the change on our blog and/or by email. Any changes will be binding on you seven days after we announce them.&nbsp;</p>
<h2>Boilerplate</h2>
<p>These final &lsquo;boilerplate&rsquo; terms should go without saying, but we are saying them anyway just to be clear.</p>
<p>If any part of this agreement is ineffective (for example because it is unlawful) then the rest of the agreement should be read without it.</p>
<p>This agreement is between you and us and is not intended to give anyone else any rights.</p>
<p>We may sometimes fail to enforce our rights under this agreement (for example because we decide not to, or we did not realise you were in breach of contract). Just because we have not enforced any of our rights, does not stop us from doing so in the future.</p>
<p>Neither party is liable for anything which is beyond their reasonable control.</p>
<h2>Our details</h2>
<p>Write Track Ltd, company number 9141465 registered in England and Wales, at 11 Royd Villas, Hangingroyd Lane, Hebden Bridge, HX7 7BX.</p>
<p>If you have any questions about these Terms and Conditions, the practices, services or information provided, you can write to us at the address above or email bec@write-track.co.uk</p>
{% endblock %}