<p>Hi</p>

<p>Thanks for signing up to this 5-day writing challenge!</p>

<p>We noticed that you haven't got started yet. We know that if you take this 5-day writing challenge – your writing practice can be transformed.</p> 

<p>But don't take it from us. Here's what other writers are saying:</p>

<p>
<blockquote>"I really valued the challenge's structured purposefulness which FINALLY got me off the starting blocks. It gave me a sense of accountability that kept me motivated."</blockquote>  
<i>- Alison</i> 
</p>

<p>
<blockquote>"I've now decided first thing is the best time for me to develop a daily writing routine. I enjoyed the writing challenge and found it useful in kickstarting a daily routine."</blockquote> 
</p>
<i>- Kevin</i> 

<p>
<blockquote>"I finished the goals I set for myself! I completed my pro bono writing project and I hit 30K (30,142, actually) words on my novel rewrite. :). It feels great! Thank you."</blockquote> 
<i>- Jess</i> 
</p>

<p>
<blockquote>"The course gave just the kick I needed. I now have a rough outline for the last three chapters so have a direction to follow and feel this is a huge step forward."</blockquote> 
<i>- Maggie</i> 
</p>

<p>
<blockquote>"Before the challenge writing was a pipe dream. Now, I've established a new writing routine. I'd recommend your programme to anyone – I've benefitted hugely."</blockquote> 
<i>- Leigh</i> 
</p>

<p>As you can see – writers have really benefited from sticking with this challenge.</p>

<p>We'd love you to benefit too. If you're struggling to start here are tips that have really helped us in the past:</p> 

<ul>
  <li><strong>If you're struggling to set a weekly goal – be realistic.</strong> A writing goal can be an amount of words, a length of time or progress on a specific project. Don't be too adventurous but have something to aim at.</li>
  <li><strong>If you're struggling to set a first step – think tiny!</strong> What's the one small thing you can do to move your writing project forward? It doesn't even need to be writing – thinking about a project or reviewing your notes still counts.</li>
</ul>

<p>To help you set your goal, check out our free resource: <a href="http://blog.write-track.co.uk/goal-setting/goalsetting/">The 7 rules of goal setting that will make you a better writer</a>.</p>

<p>You'll also receive some more top tips on goal setting once you're inside.</p>

<p>We promise that this 5-day challenge will work and can transform your writing practice – but you have to take part.</p> 

<p><a href="{{ BASE_URL }}{% url 'app_goals_new' %}">Click here to get started</a>.</p>

<p>Good luck with your writing! Bec and Chris</p>
