{% extends 'emails/base.html' %}

{% block content %}
<p>Thanks so much for joining the Write Track 5 day challenge.</p>
<p>We&rsquo;re really excited to have you on board because we know it&rsquo;s going to give your writing the productivity boost it deserves &ndash; so get ready!</p>
<p>We&rsquo;d love to say hi in person and tell you a bit more about the challenge - <a href="https://www.youtube.com/watch?v=FqYtu4jLKT0">click here to watch the video</a>.</p>
<h2>How it works</h2>
<p>We&rsquo;ve designed this challenge around the science of habits and proven theories of behaviour change for productive writers. That means &ndash; it works.</p>
<p>If you stick with it over just 5 days <strong>you will</strong> see meaningful progress in your writing &ndash; and you&rsquo;ll be more likely to keep writing in the long term. Isn&rsquo;t that exciting?</p>
<ul>
    <li>We won&rsquo;t tell you what to write &ndash; that&rsquo;s up to you &ndash; but we will promise to give you the support and inspiration you need to start and keep writing.</li>
    <li>You&rsquo;ll be given a deadline of midnight each night to check in with us and track your progress, and every time you do, we&rsquo;ll tell you a new secret of writing productivity &ndash; backed by science.</li>
    <li>We give you two lives to use in case you need a day off writing. But you&rsquo;ll lose a life for each day you miss. If you miss three &ndash; you&rsquo;re off the challenge! Sorry :-)</li>
    <li>We call this a 5-day writing challenge but if you&rsquo;re on a roll &ndash; you can complete it in less time. We want you to write regularly, we don&rsquo;t care how fast you write.</li>
</ul>
<h2>What's next</h2>
<p>Writers have seen major progress in their writing after taking this 5-day writing challenge.</p>
<p>We&rsquo;ve seen people grow in confidence and find their writing groove &ndash; you can too.</p>
<p>But first, you need to set a writing goal for the next 5 days. This goal will be your promise to us &ndash; and to yourself.</p>
<p>To help you set your goal, check out our free resource: <a href="http://blog.write-track.co.uk/7rulesgoalsetting/">The 7 rules of goal setting that will make you a better writer</a><u>.</u></p>
<p>We&rsquo;ll also share some great tips on goal setting once you&rsquo;re inside.</p>
<p><strong>I want to kickstart my writing in 5 days &ndash; <a href="{{ BASE_URL }}{% url 'app_goals_new' %}">click here to get started.</a></strong></p>
<p>Let&rsquo;s do this! We know you can.</p>
<p>Bec and Chris</p>
{% endblock %}
