<p>Hi</p>

<p>Thanks so much for joining our 5-day productivity challenge. It’s going to give your writing the kickstart it deserves – get ready!</p>

<p>We’d love to say hi – <a href="https://youtu.be/FqYtu4jLKT0">here’s our welcome video</a>.</p>

<p>This email it gives you all the information you need and most importantly the link to get going. Ready to start? <a href="{{ BASE_URL}}{% url 'app_goals_new' %}">Click here to log in</a>.</p>

<h2>HOW IT WORKS</h2>

<p>We’ve designed it around the science of habits and proven theories of behaviour change for productive writers.</p>

<p>That means – it works. And if you stick with it over just 5 days you will see meaningful progress in your writing – and you’ll be more likely to keep writing in the long term.</p>

<ul>
    <li>We won’t tell you what to write – that’s up to you – but we will promise to give you the support, ideas and inspiration you need to start and keep writing.</li>
    <li>You’ll be asked to track your progress to a deadline and every day we’ll tell you a new secret of writing productivity – backed by science.</li>
    <li>Because we know life can get in the way of writing we’ve given you two lives to use (in case you need a day off!)</li>
    <li>But we’re not that nice, you’ll lose a life for each day you miss. If you miss three – you’re off the challenge! No excuses. Sorry :-)</li>
</ul>

<h2>WHAT'S NEXT?</h2>

<p>Writers have seen major progress in their writing after taking this 5-day writing kickstart. We’ve seen people grow in confidence and find their writing groove – you can too.</p>

<p>But first, you need to set a writing goal for the next 5 days. This goal will be your promise to us – and to yourself.</p>

<p>To help you set your goal, check out our free resource: <a href="http://blog.write-track.co.uk/7rulesgoalsetting/">The 7 rules of goal setting that will make you a better writer</a>.</p>

<p>You’ll also receive some more top tips goal setting once you’re inside.</p>

<p>I want to kickstart my writing in 5 days – <a href="{{ BASE_URL }}{% url 'app_goals_new' %}">click here to get started.</a></p>

<p>Bec and Chris</p>
