{% extends 'emails/base.html' %}

{% block content %}
<p>Great news!</p>
<p>You&rsquo;ve set a goal for this 5-day writing challenge and told us your first step &ndash; we&rsquo;re so pleased!</p>
<p>You&rsquo;re on your way to transforming your writing practice over the next 5 days.</p>
<p>You&rsquo;ve made a promise that your goal this week is:</p>
<p><pre>{{ goal.text }}</pre></p>
<p>And your first step to achieve it is:</p>
<p><pre>{{ goal.current_step.text }}</pre></p>
<p>You now have until midnight tomorrow to achieve this first step and tell us about your progress &ndash; that&rsquo;s your deadline.</p>
<p>If you don&rsquo;t check in with us you will lose a life &ndash; you only have two.</p>
<p>But don&rsquo;t move on yet &ndash; we have a very important message to tell you about this step (HINT: it&rsquo;s the most important video of this whole challenge). <a href="https://youtu.be/QO19KGq9PvI">Click here to watch the video</a>.</p>
<p>More people are tempted to drop out of the challenge at this stage &ndash; before they&rsquo;ve done any writing &ndash; than at any other.</p>
<p>But, <strong>86%</strong> of writers who <strong>do</strong> complete this step finish the whole challenge.</p>
<p>So, our question to you is: <strong>which group do you want to belong to?</strong></u>&nbsp;</p>
<p>This is the hardest step. This is where you prove yourself as a writer. This is why you should complete this first step. <strong>Why not do it now?</strong></p>
<p>If you&rsquo;re struggling, check out our free resource <a href="http://blog.write-track.co.uk/5waysstartingblocks/">5 ways to get off the starting blocks and write.</a></p>
<p>When you&rsquo;ve completed this step, <a href="{{ BASE_URL }}{% url 'latest_step' goal_id=goal.id %}">click here</a> to track and tell us about your progress.</p>
<p>Sending you lots of love and luck :-)</p>
<p>Bec and Chris</p>
{% endblock %}
