<p>Hi</p>

<p>Congratulations! You’ve completed day one of your 5-day writing challenge!</p>  

<p>By completing this first step you’re in the 70% of people who go on to finish the whole challenge. That’s amazing!</p>

<p>Okay, we’d love to share with you our first secret of writing productivity and that’s to… <strong>book in the time.</strong></p>

<p>Science tells us that committing time to write is one of the best ways to avoid procrastination. There are lots of different approaches to finding the time to write but essentially it all comes down to scheduling. Take your diary, find time that you can use for writing and make an appointment so you treat it like any other commitment. Start small – it could just be fifteen minutes a day – and build up from there. It’s important to get into the habit of sticking to a schedule.</p>

<p>Want to learn more? Check out our free resource <a href="http://blog.write-track.co.uk/8stepsroutine/">8 steps to finding a writing routine that works for you</a>.</p>

<p>In our next email, you’ll learn why sharing your writing goals with others helps to keep you writing.</p> 

<p>But now, back to the challenge.</p> 

<p>You set yourself a second step to:</p>

<p><pre>{{ next_step.text }}</pre></p>

<p>When you’ve completed this step, <a href="{{ BASE_URL }}{% url 'app_steps_track' goal_id=next_step.goal.id step_id=next_step.id %}">click here to track and tell us about your progress</a>.</p>

<p>Remember, if you don’t track within 24 hours – you’ll lose a life.</p> 

<p>Happy writing!</p>

<p>Bec and Chris</p>
