{% extends 'emails/base.html' %}

{% block content %}
<p>You&rsquo;ve now completed step three of your 5-day writing challenge. Amazing!&nbsp;</p>
<p>Just two days remain.</p>
<p>We&rsquo;ve recorded a little video for you. Think of it as a pep talk! <a href="https://youtu.be/qLFNVwFr51s">Click here to watch it</a>.</p>
<p>Now, we&rsquo;d like to share with you another secret of writing productivity and that&rsquo;s to&hellip;. <strong>give yourself regular creative power-ups.</strong></p>
<p>A power-up is a reward or treat that keeps you strong and motivated in your writing. Giving yourself a power-up &ndash; a small boost of energy in the right direction &ndash; when you&rsquo;ve completed your task can help you avoid getting side-tracked. Rather than indulging yourself in a procrastination activity before you start, why not book in 30 mins of Facebook time as a power-up for when you&rsquo;ve done writing for the day? Think of something small enough to encourage, but not too big that writing become all about the power-up, and you&rsquo;ll find your motivational sweet spot.</p>
<p>If you want to learn more, check out our free resource <a href="http://blog.write-track.co.uk/5stepsreward/">5 steps to finding the perfect writing power-up</a><u>. </u></p>
<p>In our next email, you&rsquo;ll learn how to normalise your writing habit so you do it every day without thinking.</p>
<p>But now, back to the challenge.</p>
<p>You set yourself a fourth step to:</p>
<p><pre>{{ goal.current_step.text }}</pre></p>
<p>When you&rsquo;ve completed this step, <a href="{{ BASE_URL }}{% url 'app_steps_latest' goal_id=goal.id %}">click here</a> to track and tell us about your progress.</p>
<p>Remember, if you don&rsquo;t track by midnight tomorrow &ndash; you&rsquo;ll lose a life.</p>
<p>Good luck for the final challenge, you&rsquo;re nearly there.</p>
<p>Let&rsquo;s do this! We know you can.</p>
<p>Bec and Chris</p>
{% endblock %}
