{% extends 'base.html' %}

{% block content %}
<p>Amazing! You’ve now completed day three of your 5-day writing challenge.</p>

<p>Just two days remain – keep going!</p>

<p>Now, we’d like to share with you another secret of writing productivity and that’s to… <strong>reward yourself.</strong></p>

<p>Giving yourself a treat when you’ve completed your task can help you avoid getting side-tracked. Rather than indulging yourself in a procrastination activity before you start, why not use it as a reward for when your writing is completed? Think of something small enough to encourage, but not too big that writing become all about the reward, and you’ll find your motivational sweet spot.</p>

<p>If you want to learn more, check out our free resource: <a href="http://blog.write-track.co.uk/5stepsreward/">5 steps to finding the perfect writing reward</a>.</p>

<p>In our next email, you’ll learn how to normalise your writing habit so you do it every day without thinking.</p>  

<p>But now, back to the challenge.</p> 

<p>You set yourself a fourth step to:</p>

<p><pre>{{ next_step.text }}</pre></p>

<p>When you’ve completed this step, <a href="{{ BASE_URL }}{% url 'app_steps_track' goal_id=goal.id step_id=goal.current_step.id %}">click here to track and tell us about your progress</a>.</p>

<p>Remember, if you don’t track within 24 hours – you’ll lose a life.</p> 

<p>Good luck for the final challenge, you’re nearly there.</p> 

<p>Bec and Chris</p>
{% endblock %}
