<p>Hi</p>

<p>Wow – you’ve completed day four of your 5-day writing challenge. We’re impressed!</p>

<p>Just one day remains – so close!</p>

<p>We’d like to share with you another secret of writing productivity and that’s to… <strong>normalise it.</strong></p>

<p>Science tells us is that if you want to write regularly a great way to do this is to ‘glue’ it to something regular you do every day. For example, make writing the first thing you do when you wake up, or after you’ve brushed your teeth or when you have your first cup of coffee – then you’re more likely to do it and means it's not such a big deal.</p> 

<p>If you want to learn more, check out our resource: <a href="http://blog.write-track.co.uk/goal-setting/habits/">7 steps to finding the perfect writing habit</a>.</p>

<p>But now, back to the challenge.</p> 

<p>You set yourself a final step to:</p>

<p><pre>{{ next_step.text }}</pre></p>

<p>When you’ve completed this step, <a href="{{ BASE_URL }}/{% url 'app_steps_track' goal_id=next_step.goal.id step_id=next_step.id %}">click here to track and tell us about your progress</a>.</p>

<p>We can’t wait to hear from you tomorrow. You’re so close!</p> 

<p>But remember, if you don’t track within 24 hours – you’ll still lose a life.</p> 

<p>Bec and Chris</p>
