<p>Hello winner</p>

<p>You’ve now completed the last and final day of your 5-day writing challenge and you’ve officially given your writing the kickstart it deserves.</p>  

<p>A huge congratulations from us both! We’re pleased as punch.</p>

<p>Finally, we’d like to share with you our last secret of writing productivity and that is… <strong>that there is no secret!</strong></p>

<p>To be a writer – to hone your craft and get better – you need to write more regularly.</p> 

<p>And that’s what this 5-day email challenge has been all about.</p> 

<p>It doesn't matter what you write, how many words you write or how long you write for – the key is to write, and do it regularly to build a writing practice. Research has shown that people who write regularly are not only more productive, but they have more ideas and also feel happier. What’s not to like?!</p>

<p>The more you write, the better you will become - the better you become the more you’ll enjoy it, and the more likely you are to keep writing and complete your writing projects.</p> 

<p>Can you spare a few minutes to <a href="https://chrissmith3.typeform.com/to/fgJrEY">give us your feedback?</a> It will help us make this challenge better for other writers.</p>

<p>If you enjoyed this challenge please do <a href="https://twitter.com/Write_Track">tweet us</a> or leave a comment on our <a href="https://www.facebook.com/WriteTrackApp">Facebook page</a>.</p>

<p>Thanks again for taking part!</p> 

<p>Bec and Chris</p>
