{# N2 #}

<p>Hi!</p>

<p>Congratulations! Way to go! Amazing! Well done!</p>

<p>You’ve set a goal for this 5-day writing push and your 1 st step – that’s great news.</p>

<p>The starting pistol’s been fired.</p>

<p>You’re on your way to transforming your writing practice over the next 5 days.</p>

<p>Your goal this week is:<p>

<p><pre>{{ goal.text }}</pre></p>

<p>Your 1st step is:</p>

<p><pre>{{ goal.steps.first.text }}</pre></p>

<p>Now, the clock is ticking. You’ve got 24 hours to achieve your 1st step – that’s your deadline.</p>

<p>But before you move on – we have a very important message [link to video]</p>

<p>More writers fail to progress at this stage than at any other step:</p>

<ul>
    <li>70% of writers who complete this step go on to successfully finish.</li>
    <li>80% of all the writers who fail this challenge – fail at this point.</li>
</ul>

<p>If you want to transform your writing practice and reach your goals and dreams –
this is the hardest step. This is where you prove yourself as a writer. This is why you
should complete your 1st step. So, why not do it now?</p>

<p>Complete your 1st step and check back within 24 hours.</p>

<p>Sending you lots of luck.</p>

<p>Bec and Chris</p>