{# N4 #}

{% extends 'step_complete.html' %}

{% block content %}
<p>Congratulations! You’ve now completed day 2 of your 5-day writing challenge!</p>

<p>I’d like to share with you another secret of writing productivity and that’s to… <strong>go public!</strong></p>

<p>Science shows that you’re far more likely to reach your goal if you share it with other people – and that’s because
other people are great at holding us to account. So, why not tell someone else about this 5-day writing challenge?
Tell a friend, colleague or family member, share it on Facebook, tweet about it on Twitter! The key thing is that
you tell someone.</p>

<p>Want to learn more? <a>Here’s a blog we wrote with more resources and support.</a></p>

<p>In our next email, you’ll learn how to normalise your writing habit so you do it every day without thinking.</p>
{% endblock %}