{# N6 #}

{% extends 'emails/step_complete.html' %}

{% block content %}
<p>Congratulations! You’ve now completed day 4 of your 5-day writing push. Just one day remains – nearly there!</p>

<p>I’d like to share with you another secret of writing productivity and that’s to… <strong>normalise it.</strong></p>

<p>Science tells us is that if you want to write regularly a great way to do this is to ‘glue’ it to something
normal you do every day. For example, make writing the 1st thing you do when you wake up, or after you’ve brushed
your teeth or when you have your 1st cup of coffee – then you’re more likely to do it and means it's not such a
big deal.</p>

<p>Want to learn more? <a>Here’s a blog we wrote with more resources and support.</a></p>
{% endblock %}

{% block sign_off %}
<p>We can’t wait to hear from you tomorrow. You’re so close!</p>
{% endblock %}