{# N5 #}

{% extends 'emails/step_complete.html' %}

{% block content %}
<p>Congratulations! You’ve now completed day 3 of your 5-day writing push. Just 2 days remain – keep going!</p>

<p>We’d love to say congratulations in person – <a>link to ‘surprise’ video</a>.</p>

<p>I’d like to share with you another secret of writing productivity and that’s to… <strong>reward yourself.</strong></p>

<p>Giving yourself a treat when you’ve completed your task can help you avoid getting side-tracked. Rather than
indulging yourself in a procrastination activity before you start, why not use it as a reward for when your writing
is completed? Think of something small enough to encourage, but not too big that writing become all about the reward,
and you’ll find your motivational sweet spot.</p>

<p>Want to learn more? <a>Here’s a blog we wrote with more resources and support.</a></p>

<p>In our next email, you’ll learn how to normalise your writing habit so you do it every day without thinking.</p>
{% endblock %}