{# N7 #}

<p>Hurrah!</p>

<p>You’ve now completed the last and final day of your 5-day writing PUSH. We’re thrilled you’ve made it this
far – and hope you’re feeling mighty chuffed with yourself.</p>

<p>I’d like to share with you our last secret of writing productivity and that is… <strong>that there is no secret!</strong></p>

<p>To be a writer – to hone your craft and get better – you need to write more regularly.</p>

<p>And that’s what this 5-day email challenge has been all about.</p>

<p>It doesn't matter what you write, how many words you write or how long you write for – the key is to write,
and do it regularly and build a writing practice. Research has shown that people who write regularly are not only
more productive, but they have more ideas and also feel happier. What’s not to like?!</p>

<p>The more you write, the better you will become - the better you become the more you’ll enjoy it, and the more
likely you are to keep writing and complete your writing projects.</p>

<p><a>Watch this video</a> to find out more about why we think writing makes you happier!</p>

<p>Can you spare a few minutes to give us your feedback? It would help us make this challenge better when we run
it again. <a>Link to Typeform.</a></p>

<p>Thanks so much for your feedback – we really appreciate it.</p>

<p>Bec and Chris</p>