@import url('~normalize.css');

$primary-font: "Trebuchet MS", Helvetica, sans-serif;

$text-secondary: #11bcf2;

$background: #e6e6e6;
$yellow: #fee700;
$gray: #9fa0a3;
$gray-light: #e8e8e9;
$gray-lighter: #f1f1f1;

html {
  font-size: 15px;
}

body {
  background: $background;
  font-family: $primary-font;
  text-align: center;
}

a {
  color: $text-secondary;
}

section {
  background: white;
  padding: 0.5em;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0.5em;
}

blockquote {
  color: $gray;
  font-style: italic;
  text-align: left;
  border-left: 1px solid $gray-light;
  padding-left: 1em;
}

ol, ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.content {
  ol, ul {
    margin: 1em;
  }
}

@import 'styles/layout';
@import 'styles/forms';
