@import url('~normalize.css');
@import url('~react-datepicker/dist/react-datepicker.css');

$primary-font: "Trebuchet MS", Helvetica, sans-serif;
$fixed-width-font: "Courier", serif;

$text-secondary: #11bcf2;

$background: #e6e6e6;
$yellow: #fee700;
$gray-dark: #777;
$gray: #9fa0a3;
$gray-light: #e8e8e9;
$gray-lighter: #f1f1f1;

html {
  font-size: 15px;
}

body {
  background: $background;
  font-family: $primary-font;
  text-align: center;
}

h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a {
  color: $text-secondary;
}

section {
  background: white;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: .25rem;
}

section:first-child {
  margin-top: 0;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0.5em;
}

blockquote {
  color: $gray-dark;
  font-family: $fixed-width-font;
}

ol, ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.content {
  padding: 0.5em;

  ol, ul {
    margin: 1em;
  }
}

@import 'styles/layout';
@import 'styles/forms';
@import 'styles/myprogress';
