{% extends "base.html" %}

{% block heading %}Congratulations!{% endblock %}

{% block content %}
    {% if goal.is_five_day %}
        <section>
            <p>Tracking your final step means you’ve finished this kickstart challenge. Amazing!</p>

            <p>Click on the button to complete.</p>
        </section>

    {% else %}
        <section>
            <p>Wow – you've achieved your writing goal! Treat yourself to a victory dance.</p>

            <p>Are you on a roll? Set another goal now.</p>

        </section>
    {% endif %}

    <form action="{% url 'complete_goal' goal_id=goal.id %}" method="post">
        {% csrf_token %}
        <p>
            <button type="submit">Next</button>
        </p>
    </form>
{% endblock %}
