{% extends "base.html" %}

{% block heading %}Feedback{% endblock %}

{% block content %}
<h1>What did you think?</h1>

<section>
    <p>Thanks so much for taking part in our 5-day writing kickstart. You’ve been amazing!</p>

    <p>Check your inbox for writing secret #5: Check your inbox to discover the final secret of writing!</p>
</section>
<section>
    <p>We’d love to hear what you thought about the challenge. <a href="https://chrissmith3.typeform.com/to/fgJrEY">Click here to feedback</a>.</p>
</section>

<p><a href="{% url 'app_goals_timeline' goal_id=goal.id %}"><button>Go to my progress</button></a></p>
{% endblock %}