{% extends "base.html" %}

{% block heading %}Goal Timeline{% endblock %}

{% block content %}
    <div class="goal-timeline">
        <a href="{% url 'myprogress' %}"><button>Back to My Progress</button></a>
        <div class="card">
            <div class="card-title">
                <h2 class="goal-name">Goal: {{ goal.name }}</h2>
            </div>
            <div class="card-body">
                <h3 class="goal-description">{{ goal.description|safe }}</h3>
            </div>
        </div>

        {% for step in goal.steps.all|dictsortreversed:"start" %}
            <div class="card{% if step.complete %} step--complete{% endif %}">
                <div class="card-body">
                    <h3>Step: {{ step.name }}</h3>

                    {%  if step.description %}
                        <p class="step-description">{{ step.description|safe }}</p>
                    {% endif %}

                    {% if step.complete %}
                        <hr/>
                        <p>Tracked on {{ step.time_tracked|date }}</p>
                        <p class="step-comments">{{ step.comments|safe }}</p>
                    {% else %}
                        <p>Due by {{ step.deadline|date }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
