{% extends "base.html" %}

{% block heading %}My Progress{% endblock %}

{% block content %}
{% if not in_progress and not goal.complete %}
<p style="margin-bottom: 1.5em;"><a href="{% url 'app_steps_new' goal_id=goal.id %}"><button>Create your next step</button></a></p>
{% endif %}

<div class="steps">
    <div class="step {% if goal.complete %} step--complete{% endif %}">
        <h3 class="step-heading">My Goal</h3>
        <p class="step-text">{{ goal.text|safe }}</p>
    </div>

    {% for step in goal.steps.all|dictsortreversed:"start" %}
        <div class="step{% if step.complete %} step--complete{% endif %}">
            <h3 class="step-heading">Step #{{ step.number }}</h3>
            <p class="step-text">{{ step.text|safe }}</p>

            <div class="step-status">
                {% if not step.complete %}
                    <hr/>
                    <a href="{% url 'app_steps_track' goal_id=step.goal.id step_id=step.id %}">Track</a>
                {% elif step.comments %}
                    <hr/>
                    <h4>My Progress</h4>
                    <p class="step-progress">{{ step.comments|safe }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}