button {
  font-weight: bold;

  border: 0;
  padding: 0.5em 4em;
  text-transform: uppercase;

  background: $yellow;
}

button:disabled {
  background: $gray;
  color: $gray-light;
}

textarea {
  font-family: $fixed-width-font;
  width: 100%;
  border: 1px solid black;
  background: $background;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: justify;
}

form li {
  list-style: none;
}