button {
  font-weight: bold;

  border: 0;
  padding: 0.5em 4em;
  text-transform: uppercase;

  background: $yellow;

  margin: .5em;
}

button:disabled {
  background: $gray;
  color: $gray-light;
}

button.smol {
    padding: 0.5em 2em;
}

button.next, button.submit {
    float: right;
}

a.prev {
    padding: 1em 0.5em;
    float: left;
}

textarea {
  font-family: $fixed-width-font;
  width: 100%;
  border: 1px solid black;
  background: $background;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: justify;
  border-radius: .25rem;
}

form li {
  list-style: none;
}

form.inline {
  padding: 0 10%;
}

form.inline, .form--inline {
  label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 0.5em;
  }

  input, select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    padding: .5rem;
    display: block;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
  }
}

select {
    background: white;
}
