nav {
  background: $yellow;
  padding: 1em;

  .logo-container {
    position: absolute;
    top: 1em;
  }

  .logo {
    background-image: url('../img/logo.png');
    background-size: 28px;
    background-repeat: no-repeat;
    width: 28px;
    height: 39px;
  }

  h1 {
    font-size: 1.75em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

.content {
  padding: 1em;
}

footer {
  padding: 1em;

  font-size: 0.75em;

  li {
    display: inline;
    padding: 0 1em;
  }
}