.goal-switches {
    margin: 0 auto;
    width: 75%;
    border: 1px solid $gray;
    display: inline-block;

    & > div {
        padding: .5em;
        background: $gray;
        text-transform: uppercase;
        float: left;
        width: 50%;
        box-sizing: border-box;

        &.goal-switch--active {
            background: white;
        }
    }

}

.completed-goals {
    display: none;
}

.my-progress {
    .goal-description, .step-description {
        font-style: italic;
    }

    .goal-target, .step-deadline {
        font-weight: bold;
    }
}
