{% extends "base.html" %}

{% block content %}
<form action="{% url 'app_login' %}" method="post">
    <input type="hidden" name="next" value="{{ next }}"/>
    {% csrf_token %}

    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.email.label_tag }} {{ form.email }}</p>
    <p>{{ form.password.label_tag }} {{ form.password }}</p>

    <p><input type="submit" value="Log in" /></p>
</form>

<p>Forgotten your password? <a href="{% url 'password_reset' %}">Click here</a> to reset it.</p>
<p>Not registered? <a href="{% url 'app_register' %}">Click here</a> to join.</p>
{% endblock %}