{% extends "base.html" %}

{% block heading %}Login{% endblock %}

{% block content %}
<form action="{% url 'login' %}" method="post" class="inline">
    <input type="hidden" name="next" value="{{ next }}"/>
    {% csrf_token %}

    {{ form.as_p }}
    <div><p><button type="submit">Log in</button></p></div>
</form>

<p>Forgotten your password? <a href="{% url 'password_reset' %}">Click here</a> to reset it.</p>
<p>Not registered? <a href="{% url 'register' %}">Click here</a> to join.</p>
<p>Need some help? <a href="mailto:beprolifiko@gmail.com">Send us an email</a>.</p>
{% endblock %}
