{% extends 'base.html' %}

{% block heading %}Password Reset{% endblock %}

{% block content %}
{% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <p><label>New password</label> {{ form.new_password1 }}</p>
        <p><input type="submit" value="Change my password" /></p>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please <a href="{% url 'password_reset' %}">click here</a> to request a new password reset.</p>
{% endif %}
{% endblock %}