{% extends "base.html" %}

{% block heading %}Register{% endblock %}

{% block content %}
<form action="{% url 'register' %}" method="post" class="inline">
    {% csrf_token %}
    {{ form.as_p }}
    <p><a class="timezone-help-trigger">Why do you need this?</a></p>
    <section class="timezone-help" style="display: none">
        <p>So we can send stuff at the right time.</p>
    </section>
    <div><button type="submit">Register</button></div>
</form>

<p>Already registered? <a href="{% url 'login' %}">Click here</a> to log in.</p>
<p>Need some help? <a href="mailto:beprolifiko@gmail.com">Send us an email</a>.</p>

{% endblock %}
