{% extends 'base.html' %}

{% block heading %}Maintenance{% endblock %}

{% block content %}
    <section>
        <p>Sorry, we’re closed for now whilst we make the 5-day challenge even better!</p>
        <p>If you’re interested in testing the next version, email us at <a href="mailto:beprolifiko@gmail.com">beprolifiko@gmail.com</a> and we’ll add you to the waiting list.</p>
        <p>We hope to see you soon :-)</p>
    </section>
{% endblock %}

{% block burger %}{% endblock %}
{% block menu %}{% endblock %}
