{% extends 'base.html' %}

{% block heading %}My Progress{% endblock %}

{% block content %}
    <div class="my-progress">
        <div class="goal-switches">
            <div class="goal-switch-active goal-switch--active">Active</div>
            <div class="goal-switch-completed">Completed</div>
        </div>

        <div class="goal active-goal">
            {% if active_goal %}
                <div class="card">
                    {% with active_goal.steps.last as current_step %}
                        <div class="card-title">
                            <h3>My Current Step</h3>
                        </div>
                        {% if not current_step.complete %}
                            <div class="card-body">
                                <h3 class="step-name">{{ current_step.name|safe }}</h3>
                                {% if current_step.description %}
                                    <p class="step-description">{{ current_step.description|safe }}</p>
                                {% endif %}
                                <p>Due before <span class="step-deadline">{{ current_step.deadline }}</span></p>

                                <a href="{% url 'complete_step' goal_id=current_step.goal.id step_id=current_step.id %}"><button>Track this step</button></a>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <a href="{% url 'new_step' goal_id=active_goal.id %}"><button>Create my next step</button></a>
                                <a href="{% url 'complete_goal' goal_id=active_goal.id %}"><button>I've achieved my goal!</button></a>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="card">
                    <div class="card-title">
                        <h3>My Current Goal</h3>
                    </div>

                    <div class="card-body">
                        <h3 class="goal-name">{{ active_goal.name|safe }}</h3>
                        <p class="goal-description">{{ active_goal.description|safe }}</p>
                        <p>Due on <span class="goal-target">{{ active_goal.target }}</p>
                        <p><a href="{% url 'goal_progress' goal_id=active_goal.id %}">more >></a></p>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        {% if user_is_subscribed %}
                            <p>You don't have an active goal!</p>
                            <a href="{% url 'new_goal' %}"><button>Create a goal</button></a>
                        {% else %}
                            <p>You've completed the five day challenge!</p>
                            <p>We'll be in touch with more challenges soon.</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="completed-goals">
            {% if completed_goals %}
                {% for goal in completed_goals %}
                    <div class="card">
                        <div class="card-title">
                            <h2 class="goal-name">Goal: {{ goal.name }}</h2>
                        </div>
                        <div class="card-body">
                            <p class="goal-description">{{ goal.description|safe }}</p>
                            <p class="goal-target">{{ active_goal.target }}</p>
                            <p><a href="{% url 'goal_progress' goal_id=goal.id %}">more >></a></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <p>You haven't completed a goal yet - get to it!</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

