{% extends 'base.html' %}

{% block heading %}My Progress{% endblock %}

{% block content %}

    <h3 class="grouped-goals-heading">Active Goal</h3>
    {% if active_goals|length == 0 %}
        <h3>You have no active goals</h3>

        {% if is_subscribed %}
            <a href="{% url 'new_goal' %}">
                <button>Create Goal</button>
            </a>
        {% endif %}
    {% else %}
        {% for goal in active_goals %}
            <div class="dash-goal">

                <div class="goal-name">
                    <h2>{{ goal.name }}</h2>
                </div>
                <div class="steps">

                    <p>{{ goal.description }}</p>

                    <a href="{% url 'complete_goal' goal_id=goal.id %}">
                        <button>Complete Goal</button>
                    </a>

                    {% with goal.steps.last as last_step %}
                        {% if last_step.complete %}
                            <a href="{% url 'new_step' goal_id=goal.id %}">
                                <button>Create Step</button>
                            </a>
                        {% endif %}
                    {% endwith %}

                    {% for step in goal.steps.all reversed %}
                        <div class="step {% if step.complete %}step--complete{% endif %}">
                            <h3 class="step-heading">{{ step.name }}</h3>

                            <p class="step-text">{{ step.description }}</p>

                            {% if not step.complete %}
                                <a href="{% url 'complete_step' goal_id=goal.id step_id=step.id %}">
                                    <button>Track</button>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
    {% endif %}

    <h3 class="grouped-goals-heading">Completed Goals</h3>
    {% for goal in completed_goals %}
        <div class="dash-goal">

            <div class="goal-name">
                <h2>{{ goal.name }}</h2>
            </div>

            <div class="steps {% if goal.complete %}goal--complete{% endif %}">

                <p>{{ goal.description }}</p>

                {% for step in goal.steps.all reversed %}
                    <div class="step {% if step.complete %}step--complete{% endif %}">
                        <h3 class="step-heading">{{ step.name }}</h3>

                        <p class="step-text">{{ step.description }}</p>

                    </div>
                {% endfor %}
            </div>

        </div>
    {% endfor %}
{% endblock %}

