<style>
    table {
        border-collapse: collapse;
    }

    table {
        border: 1px solid #ccc;
    }

    th, td {
        border-bottom: 1px solid #eee;
    }

    th, td {
        padding: 15px;
    }

    tr:nth-child(odd) {
        background-color: #eee;
    }

    .funnel {
        float: left;
        margin: 15px;
    }
</style>

<div class="funnel">
    <h2>Happy Path</h2>
    <table>
        <tr><th>Event</th><th>Count</th><th>Conversion Rate</th></tr>
        {% for row in happy_path %}
            <tr><td>{{ row.0 }}</td><td>{{ row.1 }}</td><td>{{ row.2 }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="funnel">
    <h2>DR Path</h2>
    <table>
        <tr><th>Event</th><th>Count</th><th>Conversion Rate</th></tr>
        {% for row in dr_path %}
            <tr><td>{{ row.0 }}</td><td>{{ row.1 }}</td><td>{{ row.2 }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="funnel">
    <h2>D Path</h2>
    <table>
        <tr><th>Event</th><th>Count</th><th>Conversion Rate</th></tr>
        {% for row in d_path %}
            <tr><td>{{ row.0 }}</td><td>{{ row.1 }}</td><td>{{ row.2 }}</td></tr>
        {% endfor %}
    </table>
</div>